<% canvas_background_url =  @canvas.has_background? ? url_for(@canvas.background) : nil %>
<% canvas_background_url =  image_url('default_background.png') %>
<h4 style="text-align: center; margin-top: 3%;">Diagram <%= @canvas.diagram.name %></h4>
<div class="" style="margin-top: 2%;">
  <div class="" style="float: left;">
    <%= content_tag :canvas, '', id: 'myCanvas',
                    data: {
                      canvas_action: 'DRAW',
                      background_src: canvas_background_url,
                      idea_url: diagram_canvas_ideas_path(@canvas.diagram),
                      diagram_id: @canvas.diagram.id,
                    } %>
  </div>
  <div class="" style="display: inline-block; margin-left: 3%;">
    <div class="card" >
      <h5 class="card-header">Canvas</h5>
      <div class="card-body">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <%= render partial: 'partials/canvas/actions_buttons', locals: {diagram: @canvas.diagram}%>
      </div>
    </div>
    <div style="margin-top: 3%;">
          <%= content_tag :div, '', id: 'editIdea',
                          data: {
                            diagram_id: @canvas.diagram.id,
                          } %>
        </p>
    </div>

  </div>
</div>


<%= javascript_pack_tag 'mindmap'%>