<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ml-2" href="<%= root_path %>">mindmap app</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-2">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">
          <i class="fas fa-home"></i> Home <span class="sr-only">(current)</span>
        </a>
      </li>
      <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-project-diagram"></i> Diagrams
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="<%= new_diagram_path %>">
              <i class="fas fa-plus"></i> New Diagram
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href=" <%= diagrams_path %>">
              <i class="fas fa-tasks"></i> Manage Diagrams
            </a>
          </div>
        </li>
      <% end %>
    </ul>

    <ul class="navbar-nav mr-2 my-2 my-lg-0">
      <% if current_user %>
        <li class="nav-item ">
          <a class="nav-link" href="<%= edit_user_registration_path %>">
            <i class="fas fa-user"></i> <%= current_user.name %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%=  destroy_user_session_path %>">
            <i class="fas fa-sign-out-alt"></i> Sign out
          </a>
        </li>
      <% else %>
        <li class="nav-item ">
          <a class="nav-link" href="<%= new_user_session_path %>">
            <i class="fas fa-sign-in-alt"></i> Log in
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%=  new_user_registration_path %>">
            <i class="fas fa-user-plus"></i> Register
          </a>
        </li>

      <% end %>
    </ul>


<!--      <form class="form-inline">-->
<!--        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--      </form>-->

  </div>
</nav>