<!DOCTYPE html>
<html>
  <head>
    <title>Mindmap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: "layouts/nav" %>
    <div style="width: 70%; margin-left: 15%; margin-right: 15%; margin-top: 3%;">
      <%= yield %>
    </div>
  </body>
</html>
